/* ==========================================================================
   Variables
   ========================================================================== */


// Structure

// Text Selection
$selectionColor: orange;

// Colors
$red: purple;
$blue: purple;

// SCSS
$rgb-loglib-green: #62BB0C;
$rgb-loglib-orange: #C87D08;
$rgb-loglib-orange--light: #ffab23;
$browser-context: 16;

