/* ==========================================================================
   Variables
   ========================================================================== */


// Structure

// Text Selection
$selectionColor: orange;

// Colors
$red: purple;
$blue: purple;

// SCSS

$browser-context: 16;

$rgb-jsnumerals-green: #62BB0C;
$rgb-jsnumerals-orange: #C87D08;
$rgb-jsnumerals-orange--light: #ffab23;

