/* ==========================================================================
   Variables
   ========================================================================== */


// Structure

// Text Selection
$selectionColor: orange;

// Colors
$red: purple;
$blue: purple;

// SCSS

$browser-context: 16;

