/*******************************
 * [_TestBed.scss]
 * Define the TestBed styling here
 ******************************/

/**
 * { Dependencies }
 */
	// Shared styling
	@import './../../stylesupport/index.scss';

 /**
  * { Styles }
  */
.TestBed__outerContainer{
		margin: 10% auto;
		@include rem(width, 650px)
		box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.4);
		border-radius: 0% 0% 4% 4%;

	.TestBed__title {
		text-align: center;
		@include rem(padding, 20px 20px);
		text-shadow:2px 1px 5px #696868;
		background: $rgb-jsnumerals-orange;
		color: white;
	}

	.TestBed__innerContainer {
		background: #fffcf6;
		@include rem(padding, 10px 35px 35px 35px);
		border-radius: 0% 0% 4% 4%;

		hr {
			@extend .e-seperator-depressed;
		}

		.TestBed__input {
			position: relative;
			margin: 10% auto;
			width: 100%;

			input {
				@include rem(padding, 10px);
				@include rem(margin, 5px 0px 5px 0);
				border: 2px solid #EBE9E9;
				background-color: #F6F6F6;
				color: black;
				border-radius: 4px;
				width: 100%;
				box-sizing: border-box;
				box-shadow:
				  inset 0 0 5px  rgba(0,0,0,0.1),
				        0 0 0px rgba(0,0,0,0.1);
			}

			.header {
				text-shadow:0px 1px 20px lightgrey;
				@include rem(margin, 10px 0);
				@include rem(letter-spacing,0.5px);
			}

			.TestBed__LevelAndOutput{
				@include rem(margin, 20px);
				display: inline-block;
				width: 100%;

				.TestBed__logOption {
					display: inline-block;
					@include rem(margin, 0 20px);
				}

				.TestBed__logLevel, .TestBed__logOutput {
					width: 50%;
					float: left;
				}

				.header {
					text-align: center;
				}

					input {
						box-shadow: none;
						margin: 0 auto;
						display: block;
						width: auto;
					}
				}

			.TestBed__loggedMessageDebug {
				color: gray;
			};

			.TestBed__loggedMessageInfo {
				color: blue;
			};

			.TestBed__loggedMessageError{
				color: red;
			};

			.TestBed__resultLoggedMessage {
				@include rem(margin, 30px 0 40px 0);

				header, p {
					display: inline-block;
				}
				p{
					@include rem(margin, 0 0 0 15px);
					@include rem(padding, 0 0 0 8px);
					border-left: 5px solid $rgb-jsnumerals-orange;
				}

				.hidden { display:none; }
			}
		}
	}

	.TestBed__buttons {
		button {
			color: #FFFFFF;
			text-shadow:0px 1px 0px #8E8115;
			@extend .buttonDefault;
		}

		button:nth-of-type(1) {
			@include rem(margin, 0 5px 0 0);
			background:linear-gradient(to bottom, #70FA3A 5%, $rgb-jsnumerals-green 100%);
			background-color:#70FA3A;
			border:1px solid #10CA3C;
		}

		button:nth-of-type(1):hover {
			background:linear-gradient(to bottom, #47D012 5%, #ABE375 100%);
			background-color:#47D012;
		}

		button:nth-of-type(2) {
			background:linear-gradient(to bottom, #ffec64 5%, $rgb-jsnumerals-orange--light 100%);
			background-color:#ffec64;
			border:1px solid #ffaa22;
		}

		button:nth-of-type(2):hover {
			background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
			background-color:#ffab23;
		}
	}
}


